.dark-in {
	animation: dark-layer-slide-in 2s forwards;
}
.dark-out {
	animation: dark-layer-slide-out 2s forwards;
}

.light-in {
	animation: light-layer-slide-in 2s forwards;
}
.light-out {
	animation: light-layer-slide-out 2s forwards;
}

@keyframes dark-layer-slide-in {
	/* Slide in from top: Start fully hidden at the top, move to fully visible */
	0% {
		clip-path: inset(100% 0 0 0);
	}
	100% {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes dark-layer-slide-out {
	/* Slide back up */
	0% {
		clip-path: inset(0 0 0 0);
	}
	100% {
		clip-path: inset(100% 0 0 0);
	}
}

@keyframes light-layer-slide-in {
	/* Slide in from bottom */
	0% {
		clip-path: inset(0 0 100% 0);
	}
	100% {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes light-layer-slide-out {
	/* Slide down */
	0% {
		clip-path: inset(0 0 0 0);
	}
	100% {
		clip-path: inset(0 0 100% 0);
	}
}